<app-menu></app-menu>

<div class="container">
    

    
    <div class="card">

        <div class="h3" style="color:#963213">Resultados</div>
        <div class="row pr-4 pl-4">
            <div class="col-2">
                <label for="idresultados"></label>
            </div>
            <div class="col-4">
                Seleccione una elección
                <select name="idrestulados" [(ngModel)]="idresultados" (ngModelChange)="onChangeId($event)" id="idresultados" >
                    <option value="1" >Seleccione una elección</option>
                    <option [value]="item.Id" *ngFor="let item of listaElecciones">{{item.titulo}}</option>
                </select>
            </div>
            <div class="col-2">
                <input type="text" class="form-control" style="color:white" [(ngModel)]="urlElecciones" (focusout)="focusOutUrl()" >
            </div>
            <div class="col-2">
                <input type="text" class="form-control" style="color:white" [(ngModel)]="urlResultados">
            </div>
            
        </div>
        
        <div class="card-body">
            <div class="row font-weight-bold" style="margin-left: 5%; margin-right: 5%;">
                <div class="col-6">Fecha Inicio: {{resultados.fecha_inicio}}</div>
                <div class="col-6">Fecha Fin: {{resultados.fecha_fin}}</div>
                <hr>
            </div>

            <table style="margin-left: 5%; margin-right: 5%; width: 90%;">
                <tbody>
                    <tr>
                        <td>Votantes Registrados</td> <td></td>
                    </tr>
                    <tr>
                        <td>Número de votantes</td> <td>{{numeroVotantes}}</td>
                    </tr>
                    <tr style="background-color: gray; color:white">
                        <td colspan="4" class="text-center font-weight-bold">GANADOR {{ganador.opcion}}</td>
                    </tr>
                    <tr *ngFor="let item of ganador.valores ">
                        <td >{{item.key}}</td>
                        <td>{{item.value}}</td>
                    </tr>
                    <tr>
                        <td>Votos Totales: </td> <td>{{ganador.votos_recibidos}}</td>
                        <td>Porcentaje: </td> <td>{{porcentajeGanador }}</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            
            <div class="chart-wrapper text-center" 
            style="margin-left: 5%; margin-right: 5%; border:solid 5px #135b96; border-radius: 10px; padding:5%;">
                <h3 class="text-primary font-weight-bold">VOTOS POR AGRUPACIÓN</h3>
                <canvas style="max-height: 400px;" baseChart 
                    [datasets]="lineChartData" 
                    [labels]="lineChartLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType" 
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
            <hr>
            <div class="chart-wrapper text-center"
            style="margin-left: 5%; margin-right: 5%; border:solid 5px #135b96; border-radius: 10px; padding:5%;">
                <h3 class="text-primary font-weight-bold">VOTOS POR AGRUPACIÓN</h3>
                <canvas baseChart 
                [data]="pieChartData" 
                [labels]="pieChartLabels" 
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                [colors]="pieChartColors"
                [plugins]="pieChartPlugins"
                [legend]="pieChartLegend">
                
              </canvas>
            </div>

            <div
            style="margin-left: 5%; margin-right: 5%; border:solid 5px #135b96; border-radius: 10px; padding:5%;">
                <agm-map [latitude]="lat" [longitude]="long" [zoom]="zoom" [mapTypeId]="mapTypeId">
                    
                    <div *ngIf="resultados.datos_votacion">
                        <div *ngFor="let partido of resultados.datos_votacion">
                            <agm-marker *ngFor="let ubicacion of partido.ubicacion"
                                [latitude]="ubicacion.latitud" [longitude]="ubicacion.longitud" >
                                <agm-info-window>
                                    {{partido.opcion}}
                                </agm-info-window>
                            </agm-marker>
                        </div>
                    </div>
                </agm-map>
            </div>
        </div>
    </div>

</div>

