<app-menu-v></app-menu-v>
<div fxLayout="row" fxLayoutGap="10">
  <div class="main-div">
    <mat-card class="example-card" style="width: 50%;">
      <mat-card-header style="width: 100%">
        <div style="padding: 1%;"><br></div>
        <mat-card-title>Dashboard</mat-card-title>
        <div style="padding: 1%;"><br></div>
      </mat-card-header>
      <mat-card-content>
        <td *ngFor="let valor of miArray">
          <tr><b>Titulo</b></tr>
          <tr style="text-align: center">
            {{
              valor.titulo
            }}
          </tr>
          <div style="padding: 1%;"><br></div>
          <tr><b>Descripcion</b></tr>
          <tr style="text-align: center">
            {{
              valor.descripcion
            }}
          </tr>
          <div style="padding: 1%;"><br></div>
          <tr><b>Fecha_Inicio</b></tr>
          <tr style="text-align: center">
            {{
              valor.fecha_inicio
            }}
          </tr>
          <div style="padding: 1%;"><br></div>
          <tr><b>Fecha_Fin</b></tr>
          <tr style="text-align: center">
            {{
              valor.fecha_fin
            }}
          </tr>
          <div style="padding: 1%;"><br></div>
          <tr><b>Hora_Fin</b></tr>
          <tr style="text-align: center">
            {{
              valor.hora_fin
            }}
          </tr>
          <div style="padding: 1%;"><br></div>
          <tr>
            Opciones
          </tr>
          <tr style="text-align: center">
            {{
              valor.opciones
            }}
          </tr>
        </td>
      </mat-card-content>
    </mat-card>
  </div>
</div>
