<div class="tm-container2">
    <div>
      <div class="tm-row pt-4">
        <div class="tm-col-left">
          <div class="tm-site-header media">
            <i
              class="fas fa-umbrella-beach fa-3x mt-1 tm-logo"
              style="color: white"
            ></i>
            <div class="media-body">
              <h1 class="tm-sitename text-uppercase" style="color: white">
                iVoting
              </h1>
              <p class="tm-slogon" style="color: white">[SA]Proyecto</p>
            </div>
          </div>
        </div>
        <div class="tm-col-right">
          <nav class="navbar navbar-expand-lg" id="tm-main-nav">
            <button
              class="navbar-toggler toggler-example mr-0 ml-auto"
              type="button"
              data-toggle="collapse"
              data-target="#navbar-nav"
              aria-controls="navbar-nav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
              <ul class="navbar-nav text-uppercase">
                <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="/eleccion">Elecciones</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="/mostrareleccion">Mostrar Elecciones</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="/salir">Salir</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  