<app-menu></app-menu>
<div class="row">
  <div class="column">
    <div style="max-width: 100%">
      <img
        src="./../../assets/voto.jpg"
        style="text-align: center; max-width: 100%"
      />
    </div>
  </div>
  <div class="column">
    <mat-card class="example-card" style="height: 100%; 
    text-align: center;">
      <mat-card-actions>
        <div style="padding: 1%;"><br></div>
        <p>CORREO</p>
        <input type="email" matInput [(ngModel)]="correo" placeholder="Email" name="correo">
        <div style="padding: 1%;"><br></div>
        <p>CONTRASEÑA</p>
        <input type="password" matInput [(ngModel)]="password" placeholder="Password" name="password">
        <div style="padding: 1%;"><br></div>
        <p>{{alerta}}</p>
        <button mat-raised-button (click)="login()" color="primary"style="background-color: blue; color: white">LOGIN</button>
        <br>
      </mat-card-actions>
    </mat-card>    
  </div>
</div>
